{# <p>Hi</p> #}
{# there's a reason for every eek to have its own variables #}
{% set effizienzLabelWerte = ['A+++', 'A++', 'A+', 'A', 'B', 'C', 'D', 'E', 'F', 'G'] %}
{% set effizienzLabelFarben = ['#009136','#58A927','#C8D000','#FCEA00','#F9B900','#EA690B','#E3001B'] %}
{% set energieEffizienz = "" %}
{% set hoechsteEffizienz = "" %}
{% set energieEffizienzZwei = "" %}
{% set hoechsteEffizienzZwei = "" %}
{% set wertIndex = 0 %}
{% set wertIndexZwei = 0 %}
{% set hoechsteEffizienzIndex = 0 %}
{% set hoechsteEffizienzIndexZwei = 0 %}
{% set energieEffizienzName = "" %}
{% set energieEffizienzNameZwei = "" %}
{% if services.template.getCurrentTemplate() == 'tpl.category.item' or services.template.getCurrentTemplate() == 'tpl.search' %}
    {% set eigenschaften = item.data.properties | raw %}
    <p>Zweig 1</p>
{% else %}
    {% set eigenschaften = item.documents[0].data.properties %}
    <p>Zweig 2</p>
{% endif %}
{% if item.data.properties | raw is null %}
    <p>item.data.properties sind null</p>
{% elseif item.data.properties is not null %}
    <p>item.data.properties sind nicht null</p>
{% endif %}
{% if item.documents[0].data.properties is null %}
    <p>item.documents[0].data.properties sind null</p>
{% elseif item.documents[0].data.properties is not null %}
    <p>item.documents[0].data.properties sind nicht null</p>
{% endif %}
{% for prop in eigenschaften %}
    <p>Erfolg</p>
    {% if prop.group.names.propertyGroupId == "60" %}
        {# 492, 493, 494, 495, 496 #}
        {% if prop.property.id in [406, 407, 482, 487, 488] %}
           {# {{ prop.property.names.name }}:  {{ prop.texts.value }} 
           {{ prop.texts.value }} #}
            {% if energieEffizienz is not empty and energieEffizienzName is not empty %}
                {% set energieEffizienzZwei = prop.texts.value %}
                {% set energieEffizienzNameZwei = prop.property.names.name %}
            {% else %}
                {% set energieEffizienz = prop.texts.value %}
                {% set energieEffizienzName = prop.property.names.name %}
            {% endif %}
        {% endif %}
        {% if prop.property.id in [492, 493, 494, 495, 496 ] %}
            {% if hoechsteEffizienz is not empty %}
                {% set hoechsteEffizienzZwei = prop.texts.value %}
            {% else %}
                {% set hoechsteEffizienz = prop.texts.value %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if energieEffizienz is not empty and hoechsteEffizienz is not empty %}
    {% for wert in effizienzLabelWerte %}
        {% if wert == energieEffizienz %}
            {% set wertIndex = loop.index %}
        {% endif %}
        {% if wert == hoechsteEffizienz %}
            {% set hoechsteEffizienzIndex = loop.index %}
        {% endif %}
    {% endfor %}
    {% set farbenIndex = wertIndex - hoechsteEffizienzIndex  %}
    {% set effizienzLabelEinzelfarbe = effizienzLabelFarben[farbenIndex] %}
    {% set energieEffizienzName = energieEffizienzName | split('(') %}
    {% set energieEffizienzName = energieEffizienzName[1] | split(')') %}
    {# {{ farbenIndex }}
    {{ effizienzLabelEinzelfarbe }} #}
    <div class="row">
        <div class="col-md-4 col-sm-4">    
            <p class="energieEffizienzKategorie">{{ energieEffizienzName[0] }}:</p>
        </div>
        <div class="col-md-6 col-sm-4 elabel">
        <style>
         .energieEffizienzKategorie{
             padding-top: 0.3em;
             font-style: bold;
         }
         .elabel::after{
                content: " ";
                width: 0px;
                height: 0px;
                position: absolute;
                top: 50%;
                right: 21.1%;
                transform: translate(-50%, -50%);
                display: inline-block;
                border-top: 15.5px solid transparent;
                border-bottom: 15.5px solid transparent;
                border-left: 19px solid {{ effizienzLabelEinzelfarbe }};  
         }
         @media(max-width: 1200px) and (min-width: 1001px)
         {
            .label{
                width: 50%;
            }
            .elabel::after{
                right: 39%;
            }
            .elabelzwei::after{
                right: 39%;
            }
            .energieEffizienzKategorie{
            
            }
         }
         @media(max-width: 1000px) and (min-width: 768px)
         {
             .label{
                 width:47%;
             }
         }
         @media(max-width: 543px and min-width: 320px)
         {
             .elabel::after{
                 right: 47.7%;
             }
             .elabelzwei::after{
                 right: 47.7%;
             }
         }
         @media(max-width: 767px) and (min-width: 544px)
         {
             .elabel::after{
                 right: 42%;
             }
             .elabelzwei::after{
                 right: 42%;
             }
         }
        </style>
            <span class="label" style="background-color:{{ effizienzLabelEinzelfarbe }}; color: white; text-align: center; font-weight: bold; font-size: 20px; display: inline-block; width: 70%;">{{ energieEffizienz }}</span>     
        </div>
    </div>
{% endif %}

{% if energieEffizienzZwei is not empty and hoechsteEffizienzZwei is not empty %}
    {% for wert in effizienzLabelWerte %}
        {% if wert == energieEffizienzZwei %}
            {% set wertIndexZwei = loop.index %}
        {% endif %}
        {% if wert == hoechsteEffizienzZwei %}
            {% set hoechsteEffizienzIndexZwei = loop.index %}
        {% endif %}
    {% endfor %}
    {% set farbenIndexZwei = wertIndexZwei - hoechsteEffizienzIndexZwei  %}
    {% set effizienzLabelEinzelfarbeZwei = effizienzLabelFarben[farbenIndexZwei] %}
    {% set energieEffizienzNameZwei = energieEffizienzNameZwei | split('(') %}
    {% set energieEffizienzNameZwei = energieEffizienzNameZwei[1] | split(')') %}
    {# {{ farbenIndex }}
    {{ effizienzLabelEinzelfarbe }} #}
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <p class="energieEffizienzKategorie">{{ energieEffizienzNameZwei[0] }}:</p>
        </div>
        <div class="col-md-6 col-sm-4 elabelzwei">
        <style>
         .elabelzwei::after{
            content: " ";
            width: 0px;
            height: 0px;
            position: absolute;
            top: 50%;
            right: 21.1%;
            transform: translate(-50%, -50%);
            display: inline-block;
            border-top: 15.5px solid transparent;
            border-bottom: 15.5px solid transparent;
            border-left: 19px solid {{ effizienzLabelEinzelfarbeZwei }};  
         }
        </style>
            <span class="label" style="background-color:{{ effizienzLabelEinzelfarbeZwei }}; color: white; text-align: center; font-weight: bold; font-size: 20px; display: inline-block; width: 70%;">{{ energieEffizienzZwei }}</span>     
        </div>
    </div>
{% endif %}
