{# <p>Hi</p> #}
{% set effizienzLabelWerte = ['A+++', 'A++', 'A+', 'A', 'B', 'C', 'D', 'E', 'F', 'G'] %}
{% set effizienzLabelFarben = ['#009136','#58A927','#C8D000','#FCEA00','#F9B900','#EA690B','#E3001B'] %}
{% set energieEffizienz = "" %}
{% set hoechsteEffizienz = "" %}
{% set energieEffizienzZwei = "" %}
{% set hoechsteEffizienzZwei = "" %}
{% set wertIndex = 0 %}
{% set hoechsteEffizienzIndex = 0 %}
{% set energieEffizienzName = "" %}
{% set energieEffizienzNameZwei = "" %}
{% for prop in item.documents[0].data.properties %}
    {% if prop.group.names.propertyGroupId == "60" %}
        {# 492, 493, 494, 495, 496 #}
        {% if prop.property.id in [406, 407, 482, 487, 488] %}
           {# {{ prop.property.names.name }}:  {{ prop.texts.value }} 
           {{ prop.texts.value }} #}
           {% if energieEffizienz is not empty and energieEffizienzName is not empty %}
                {% set energieEffizienzZwei = prop.texts.value %}
                {% set energieEffizienzNameZwei = prop.property.names.name %}
            {% else %}
                {% set energieEffizienz = prop.texts.value %}
                {% set energieEffizienzName = prop.property.names.name %}
           {% endif %}
        {% endif %}
        {% if prop.property.id in [492, 493, 494, 495, 496] %}
            {% if hoechsteEffizienz is not empty %}
                {% set hoechsteEffizienzZwei = prop.texts.value %}
            {% else %}
                {% set hoechsteEffizienz = prop.texts.value %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if energieEffizienz is not empty and hoechsteEffizienz is not empty %}
    {% for wert in effizienzLabelWerte %}
        {% if wert == energieEffizienz %}
            {% set wertIndex = loop.index %}
        {% elseif wert == hoechsteEffizienz %}
            {% set hoechsteEffizienzIndex = loop.index %}
        {% endif %}
    {% endfor %}
    {% set farbenIndex = wertIndex - hoechsteEffizienzIndex  %}
    {% set effizienzLabelEinzelfarbe = effizienzLabelFarben[farbenIndex] %}
    {% set energieEffizienzName = energieEffizienzName | split('(') %}
    {% set energieEffizienzName = energieEffizienzName[1] | split(')') %}
    {# {{ farbenIndex }}
    {{ effizienzLabelEinzelfarbe }} #}
    <div class="row">
        <div class="col-md-1">    
            <p>{{ energieEffizienzName[0] }}:</p>
        </div>
        <div class="col-md-6 elabel">
        <style>
         .elabel::after{
                content: " ";
                width: 0px;
                height: 0px;
                position: absolute;
                top: 50%;
                right: 21%;
                transform: translate(-50%, -50%);
                display: inline-block;
                border-top: 15.5px solid transparent;
                border-bottom: 15.5px solid transparent;
                border-left: 20px solid {{ effizienzLabelEinzelfarbe }};  
         }
        </style>
            <span style="background-color:{{ effizienzLabelEinzelfarbe }}; color: white; text-align: center; font-weight: bold; font-size: 20px; display: inline-block; width: 70%;">{{ energieEffizienz }}</span>     
        </div>
    </div>
{% endif %}

{% if energieEffizienzZwei is not empty and hoechsteEffizienzZwei is not empty %}
    {% for wert in effizienzLabelWerte %}
        {% if wert == energieEffizienzZwei %}
            {% set wertIndexZwei = loop.index %}
        {% elseif wert == hoechsteEffizienzZwei %}
            {% set hoechsteEffizienzIndexZwei = loop.index %}
        {% endif %}
    {% endfor %}
    {% set farbenIndexZwei = wertIndexZwei - hoechsteEffizienzIndexZwei  %}
    {% set effizienzLabelEinzelfarbeZwei = effizienzLabelFarben[farbenIndexZwei] %}
    {% set energieEffizienzNameZwei = energieEffizienzNameZwei | split('(') %}
    {% set energieEffizienzNameZwei = energieEffizienzNameZwei[1] | split(')') %}
    {# {{ farbenIndex }}
    {{ effizienzLabelEinzelfarbe }} #}
    <div class="row">
        <div class="col-md-1">
            <p>{{ energieEffizienzNameZwei[0] }}:</p>
        </div>
        <div class="col-md-6 elabelzwei">
        <style>
         .elabelzwei::after{
            content: " ";
            width: 0px;
            height: 0px;
            position: absolute;
            top: 50%;
            right: 21%;
            transform: translate(-50%, -50%);
            display: inline-block;
            border-top: 15.5px solid transparent;
            border-bottom: 15.5px solid transparent;
            border-left: 20px solid {{ effizienzLabelEinzelfarbeZwei }};  
         }
        </style>
            <span style="background-color:{{ effizienzLabelEinzelfarbeZwei }}; color: white; text-align: center; font-weight: bold; font-size: 20px; display: inline-block; width: 70%;">{{ energieEffizienz }}</span>     
        </div>
    </div>
{% endif %}
